body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,sans-serif;
    color: #fff!important;
    background-color: black!important;
}

body a {
    color: #fff;
    text-decoration: none;
}

body a:hover {
    color: #f90;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.2);
}

.content {
    background-color: black;
}

hr {
    width: 80%;
    height: 2px!important;
    background-color: #f90!important;
    border: none!important;
    opacity: 1!important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 100px!important;
    margin-bottom: 100px!important;
}

.title {
    font-size: 3rem;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e;
    margin-bottom: 100px;
}

/* Header */

.header {
    background: url(assets/img/backgroundHeader.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu {
    padding-top: 60px!important;
}

.logo {
    width: 200px;
    height: 200px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-right: 20px;
}

nav ul li a {
    padding: 2em;
    font-size: 20px!important;
    scroll-behavior: smooth;
}

.header h1, .header h2{
    letter-spacing: .1em;
}

.header h1 {
    font-size: 4rem;
}

.header h2 {
    font-size: 3rem;
}

.header-button {
    margin-bottom: 7rem!important;
    margin-top: 3rem!important;
}

.header-button a {
    font-size: 2rem;
}

/* Fin Header */

/* About */

.title-about {
    font-size: 3rem;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e;
}

.img-about {
    border: 1px solid rgba(0,0,0,.2);
    background: #fff;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 50em;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.bouton-cv {
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
    font-weight: 700;
    background-color: #fff;
    border-color: #060606;
    color: #000;
    padding: 1.25rem 2.5rem;
    border-radius: .25rem;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.bouton-cv:hover {
    color: black;
}

/* Fin About */

/* Experiences */

.experiences {
    color: black;
}

.row-experiences {
    display: flex;
    justify-content: center;
}

.vigicorp {
    width: 320px;
    height: 320px;
    border-radius: 5px;
}

.vigi-title {
    color: #F95353;
}

/* Fin Experiences */

/* Skills */

.skills>.row-skills {
    display: flex!important;
    flex-direction: row!important;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills>.row-skills span {
    background-color: #fff;
    display: inline-block;
    color: #000;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0 solid #000;
    height: 150px;
    width: 150px;
}

.fab {
    font-size: 100px;
    margin-top: 25px;
}

.fa-html5:hover {
    color: #e56026;
}

.fa-css3-alt:hover {
    color: #0d70b6;
}

.fa-js:hover {
    color: #f0d91c;
}

.fa-bootstrap:hover {
    color: #9731d3;
}

.fa-php:hover {
    color: #516588;
}

.fa-symfony:hover {
    color: #4394ba;
}

.fa-linkedin:hover {
    color: #0245aa;
}

/* Fin Skills */

.zoom {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
    margin: 0 auto;
    display: inline-block;
}

/* Footer */

input[type=text], input[type=email], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #f90;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Fin Footer */